{% extends "base.html" %}
{% block content %}
   <br>
   <p1>Select movies below that you are interested in and click the update button and they will be<br>
	added to the search as well as to the table of saved movies below.</p1>
	<br><br>

   <form action="/post2" method="post"><fieldset>
   {% for movies in movies %}
   {{ movies }} ---- <input type="checkbox" name ='movie1' value={{ movies }}>
   <td><a href="http://www.imdb.com/find?ref_=nv_sr_fn&q={{ movies }}&s=all"">IMDB</a>
   <br>

   {% endfor %}  
   <br>
   
   <!--hidden input of the favorites-->
   {% for movies in favorites %}
   <input type="hidden" name="movie2" value={{ movies }}>
   {% endfor %}
   
   <input type="submit" value="Update">
   <br>
   
   </fieldset></form>
	
   <br><br>
	
   <!--favorites-->
   <p3>These are the movies you've indicated interest in already:</p3><br><br>
   <table border="1" style="width:35%">
      <tr>
         <th>Movie</th>
         <th>IMDB</th>
      </tr>
      {% for movies in favorites %}
      <tr>
         <td>{{ movies }}</td>
         <td><a href="http://www.imdb.com/find?ref_=nv_sr_fn&q={{ movies }}&s=all"">IMDB</a>
      </tr>
      {% endfor %}
   </table>
   <br><br>
   
   <div><a href="/">Home</a></div>
   
{% endblock %}
